<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="mb-4">Sanctioned People</h1>
      <span class="me-3">Found: <%= pluralize(@people.total_count, 'person') %></span>
      <%= link_to('Reset search filter', root_path) if params[:search].present? || params[:providers].present? %>
    </div>
    <div class="col-sm-6">
      <%= render 'search_form'%>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped my-5">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date Of Birth</th>
          <th>Citizenship</th>
          <th>End Sanctions Time</th>
          <th>Followed</th>
        </tr>
      </thead>

      <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.birthday %></td>
          <td><%= person.citizenship %></td>
          <td><%= person.end_sanctions_time %></td>
          <td>
            <% if @followed_ids.keys.include?(person.id) %>
              <%= link_to 'Yes',
                          subscription_path(id: @followed_ids[person.id]),
                          method: :delete,
                          remote: true %>
            <% else %>
              <%= link_to 'No',
                          subscriptions_path(person: {
                            first_name: person.first_name,
                            last_name: person.last_name,
                            birthday: person.birthday
                          }),
                          method: :post,
                          remote: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="container pagination justify-content-center">
      <%= paginate @people, pagination_class: "pagination-sm" %>
    </div>
  </div>
</div>