<div class="container">
  <div class="row">
    <h1>Sanctioned people</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of birth</th>
          <th>Citizenship</th>
          <th>End Sanctions Time</th>
        </tr>
      </thead>

      <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.birthday %></td>
          <td><%= person.citizenship %></td>
          <td><%= person.end_sanctions_time %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @people %>
  </div>
</div>