<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="mb-4">Sanctioned people</h1>
      <span class="me-3">Found: <%= pluralize(@people.total_count, 'person') %></span>
      <%= link_to('Reset search filter', root_path) if params[:search].present? || params[:providers].present? %>
    </div>
    <div class="col-sm-6">
      <%= render 'search_form'%>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped my-5">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of birth</th>
          <th>Citizenship</th>
          <th>End Sanctions Time</th>
        </tr>
      </thead>

      <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.birthday %></td>
          <td><%= person.citizenship %></td>
          <td><%= person.end_sanctions_time %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="container pagination justify-content-center">
      <%= paginate @people, pagination_class: "pagination-sm" %>
    </div>
  </div>
</div>